<div>
  <%= form_for :author, :url => url_for(:action => 'create')   do |f| %>
    <div class="field">
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.text_field :password, :type => 'password' %>
    </div>
    <div class="actions"><input type="submit" value="Login"></div>
  <% end %>
</div>