<%= form_for :author, :url => url_for(:action => 'create')   do |f| %>
  <%= f.text_field :email %>
  <%= f.text_field :password, :type => 'password' %>
  <p><input type="submit" value="Login"></p>
<% end %>