<form action="/admin/login" method="post" accept-charset="utf-8">
  <input type="text" name="emai" value="" id="email">
  <input type="password" name="password" value="" id="password">
  <p><input type="submit" value="Login"></p>
</form>