body { background:#1D5EA8; color:white; font-family:arial; }
a:visited, a { color:white }

table
{
  background:white;
  color:#404040;
  border-collapse:collapse;
}
table a, table a:visited
{
  color:#404040;
}
table, td, th
{
  border:black 1px solid;
}

textarea
{
  font-family:Monaco, Consolas, Courier;
  width:100%;
  height:480px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}