<div id="categories_list" class="side_menu">
  <h4>Categorias</h4>
  <ul>
    <% @categories.each do |category| %>
    <li><%= link_to category.name, category_url(category.permalink) %></a></li>
    <% end %>
  </ul>
</div>