<div id="archive_list" class="side_menu">
  <h4>Arquivo</h4>
  <ul>
    <li><a href="#">Maio 2010</a></li>
    <li><a href="#">Abril 2010</a></li>
    <li><a href="#">Março 2010</a></li>
  </ul>
</div>